*{
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, sans-serif;
}
.backgroundPokemons {
    background-image: linear-gradient(to bottom, #f2f4ff, #f4f6ff, #f6f8ff, #f9faff, #fbfcff);
}

.backgroundSidebar {
    background-color: $purple;
    height: 100vh;
}

.borderShadow{
    box-shadow: 0px 0px 2px 0px $purple;
}

.btn-logout{
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px;
    width: 100%;
    color: white;
}

.txtColorNameSidebar{
    color: white;
}
.txtColorLevelSidebar{
    color: rgba(255, 255, 255, 0.8);    
}

.badge{
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px 10px;
}

.cardShadow{
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(86, 107, 214, 0.1)  ; 
}

.btn-back{
    background-color: $purple;
    border-radius: 50px;
}

.pointer{
    cursor: pointer;
}

  //menu movile
.menu-mobile{
    height: 10vh;
    background-color: $purple;
}

.spinner-border {
    width: 100px; 
    height: 100px;
}

.btnLoadMore{
    background-color: $purple;
    color: white;
    &:hover{
        color: white;
    }
}

.btnMenu{
    background-color: $purple;
    border: 0px;
    padding: 10px;
}

.ant-drawer-body {
    background-color: $purple;
    color: #fff;
    height: calc(100vh - 55px);
  }
  

  .searchbar{
    background-color: white;
    border-radius: 50px;
    padding: 0px 0px 0px 15px;
    }

    .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $purple;
    text-decoration:none;
    }