*{
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100vh;
    width: 100vw;
}
.backgroundPokemons {
    background-image: linear-gradient(to bottom, #f2f4ff, #f4f6ff, #f6f8ff, #f9faff, #fbfcff);
}

.backgroundSidebar {
    background-color: $purple;
    height: 100vh;
}

.borderShadow{
    box-shadow: 0px 0px 2px 0px $purple;
}

.btn-logout{
    // padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px;
    width: 100%;
    color: white;
}

.txtColorNameSidebar{
    color: white;
}
.txtColorLevelSidebar{
    color: rgba(255, 255, 255, 0.8);    
}

.inputSearch{
    border-radius: 100px;
    z-index: 0;
    padding: 5px 20px;
    border-width: 0px;
}

.btnSearch{
    border-radius: 50px;
    // position: absolute;
    right: 30px;
    background-color: $purple;
    z-index: 999;
}
.badge{
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px 10px;
}

.cardShadow{
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(86, 107, 214, 0.1)  ; 
}

.btn-back{
    background-color: $purple;
    border-radius: 50px;
}

.pointer{
    cursor: pointer;
}

// Sidebar mobile

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: $purple;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: $purple;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  //menu movile
.menu-mobile{
    height: 10vh;
    background-color: $purple;
}

.spinner-border {
    width: 100px; 
    height: 100px;
}

.btnLoadMore{
    background-color: $purple;
    color: white;
    &:hover{
        color: white;
    }
}