*{
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100vh;
    width: 100vw;
}
.backgroundPokemons {
    background-image: linear-gradient(to bottom, #f2f4ff, #f4f6ff, #f6f8ff, #f9faff, #fbfcff);
}

.backgroundSidebar {
    background-color: $purple;
    height: 100vh;
}

.borderShadow{
    box-shadow: 0px 0px 2px 0px $purple;
}

.btn-logout{
    // padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px;
    width: 100%;
    color: white;
}

.txtColorNameSidebar{
    color: white;
}
.txtColorLevelSidebar{
    color: rgba(255, 255, 255, 0.8);    
}

.inputSearch{
    border-radius: 100px;
    z-index: 0;
    padding: 5px 20px;
    border-width: 0px;
}

.btnSearch{
    border-radius: 50px;
    // position: absolute;
    right: 30px;
    background-color: $purple;
    z-index: 999;
}
.badge{
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px 10px;
}

.cardShadow{
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(86, 107, 214, 0.1)  ; 
}

.btn-back{
    background-color: $purple;
    border-radius: 50px;
}

.pointer{
    cursor: pointer;
}